@using TrainTracking.Application.DTOs
@model ForgetPasswordDTO

<h2>نسيت كلمة المرور</h2>

<form asp-action="ForgetPassword" method="post">
    <div class="form-group">
        <label asp-for="UserNameOREmail">البريد الإلكتروني أو اسم المستخدم</label>
        <input asp-for="UserNameOREmail" class="form-control" placeholder="ادخل بريدك الإلكتروني أو اسم المستخدم" />
        <span asp-validation-for="UserNameOREmail" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">إرسال رابط إعادة التعيين</button>
</form>
