@model TrainTracking.Application.DTOs.ResendEmailConfirmationDTO
@{
    ViewData["Title"] = "ResendEmailConfirmation";
}

<div class="container">
    <h1>ResendEmailConfirmation</h1>

    <h4>ResendEmailConfirmationVM</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="ResendEmailConfirmation">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserNameOREmail" class="control-label"></label>
                    <input asp-for="UserNameOREmail" class="form-control" />
                    <span asp-validation-for="UserNameOREmail" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <input type="submit" value="Send" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Login">Back to Login</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

